.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.tracts {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1px;
}

.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

.chart {
    background-color: rgba(128, 128, 128, 0.2);
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}

.bars {
    border: none;
}

.numbers {
    fill: black;
    font-family: sans-serif;
}
